@model JobPortal.Models.CandidateBasic

@{
    ViewBag.Title = "EditProfile";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.HiddenFor(model => model.candidateId)
        @Html.HiddenFor(model => model.username)
        @Html.HiddenFor(model => model.quesId)
        @Html.HiddenFor(model => model.ansr)
        @Html.HiddenFor(model => model.profileDate)
        @Html.HiddenFor(model => model.resumePath)
        @Html.HiddenFor(model => model.firstName)
        @Html.HiddenFor(model => model.lastName)
        @Html.HiddenFor(model => model.gender)
        @Html.HiddenFor(model => model.dob)
        <div class="card col-md-8 col-md-offset-2">
            <div class="card-header text-center bg-primary">
                <h2><b>Edit Profile</b></h2>
            </div>

            <div class="card-body bg-success">
                <div class="form-group" style="padding-top:10px">
                    @Html.LabelFor(model => model.firstName, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.firstName, new { htmlAttributes = new { @class = "form-control", @readonly="readonly" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.lastName, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.lastName, new { htmlAttributes = new { @class = "form-control", @readonly="readonly" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.dob, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.dob, new { @class = "form-control", @readonly="readonly" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.candidateAddr, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.candidateAddr, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.contactNo, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.contactNo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.contactNo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.emailId, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.emailId, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.emailId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" style="padding-bottom:10px">
                    @Html.LabelFor(model => model.city, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.city, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.city, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="card-footer text-center">
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="submit" value="Save" class="btn btn-primary" />
                        @Html.ActionLink("Back", "JobSeekerProfile", null, new { @class="btn btn-primary"})
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
