@model JobPortal.Models.CandidateProfessional

@{
    ViewBag.Title = "ViewProfessional";
}

<div class="row justify-content-center">
    <div class="col-sm-6 col-md-offset-3">
        <div class="card">
            @Html.HiddenFor(model => model.candidateProfId)
            @Html.HiddenFor(model => model.candidateId)
            <div class="card-header text-center bg-primary">
                <h2><b>Experience Details</b></h2>
            </div>
            <div class="card-body text-center bg-success" style="padding:5px 0 5px 0">
                <h4>Industry                 : @Model.industry</h4>
                <h4>Area                     : @ViewBag.Area</h4>
                <h4>Experience Years         : @Model.experienceYears</h4>
                <h4>Experience Months        : @Model.experienceMonth</h4>
                <h4>Salary                   : @Html.DisplayFor(model => model.salary)</h4>
                <h4>Role                     : @Model.industryRole</h4>
                <h4>Skills                   : @Model.skills</h4>
            </div>
            <div class="card-footer text-center" style="margin-top:5px">
                @Html.ActionLink("Edit Experience Details", "ExperienceEdit", new { candidateId = Model.candidateId }, new { @class="btn btn-primary"})
                @Html.ActionLink("View Educational Details", "ViewEducation", new { candidateId = Model.candidateId }, new { @class="btn btn-primary"})
                @Html.ActionLink("View Personal Details", "JobSeekerProfile", null, new { @class="btn btn-primary"})
            </div>
        </div>
    </div>
</div>