@model JobPortal.Models.CandidateEducation

@{
    ViewBag.Title = "ViewEducation";
}

<div class="row justify-content-center">
    <div class="col-sm-6 col-md-offset-3">
        <div class="card">
            @Html.HiddenFor(model => model.candidateEduId)
            @Html.HiddenFor(model => model.candidateId)
            <div class="card-header text-center bg-primary">
                <h2><b>Education Details</b></h2>
            </div>
            <div class="card-body text-center bg-success" style="padding:5px 0 5px 0">
                <h4>A Level Subject 1        : @Model.aLevelSubject1</h4>
                <h4>A Level Subject 1 Grade  : @Model.aLevelGrade1</h4>
                <h4>A Level Subject 2        : @Model.aLevelSubject2</h4>
                <h4>A Level Subject 2 Grade  : @Model.aLevelGrade2</h4>
                <h4>A Level Subject 3        : @Model.aLevelSubject3</h4>
                <h4>A Level Subject 3 Grade  : @Model.aLevelGrade3</h4>
                <h4>Graduation               : @Model.graduation</h4>
                <h4>Graduation Institute/University : @Model.instituteGrad</h4>
                <h4>Graduation Percentage : @Model.percentageGrad</h4>
                <h4>Post Graduation  : @Model.postGrad</h4>
                <h4>Post Graduation Institute/University : @Model.institutePostGrad</h4>
                <h4>Post Graduation Percentage : @Model.percentagePostGrad</h4>
                <h4>Certifications : @Model.certification</h4>
            </div>
            <div class="card-footer text-center" style="margin-top:5px">
                @Html.ActionLink("Edit Education Details", "EditEducation", new { candidateId = Model.candidateId }, new { @class="btn btn-primary"})
                @Html.ActionLink("View Experience Details", "ExperienceDetail", new { candidateId = Model.candidateId }, new { @class="btn btn-primary"})
                @Html.ActionLink("View Personal Details", "JobSeekerProfile", null, new { @class="btn btn-primary"})
            </div>
        </div>
    </div>
</div>
