@model JobPortal.Models.Company

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal text-justify">
        @Html.HiddenFor(model => model.companyId)
        @Html.HiddenFor(model => model.username)
        @Html.HiddenFor(model => model.quesId)
        @Html.HiddenFor(model => model.ansr)

        <div class="card col-md-8 col-md-offset-2">
            <div class="card-header text-center bg-primary">
                <h2><b>Edit Profile</b></h2>
            </div>

            <div class="card-body bg-success">
                <div class="form-group" style="padding-top:10px">
                    @Html.LabelFor(model => model.companyName, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.companyName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.companyName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.contactPerson, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.contactPerson, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.contactPerson, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.companyContact, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.companyContact, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.companyContact, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.companyAddr, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.TextAreaFor(model => model.companyAddr, 4, 30, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.companyAddr, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.companyEmail, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.companyEmail, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.companyEmail, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" style="padding-bottom:10px">
                    @Html.LabelFor(model => model.companyDetails, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.TextAreaFor(model => model.companyDetails, 4, 30, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.companyDetails, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="card-footer text-center">
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="submit" value="Save" class="btn btn-primary" />
                        @Html.ActionLink("Back", "RecruiterProfile", null, new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
