@model JobPortal.Models.Company

@{
    ViewBag.Title = "RecruiterProfile";
}

<div class="row justify-content-center">
    <div class="col-sm-6 col-md-offset-3">
        <div class="card">
            <div class="card-header text-center bg-primary">
                <h2><b>Profile</b></h2>
            </div>
            <div class="card-body text-center bg-success" style="padding:5px 0 5px 0">
                @Html.HiddenFor(model => model.companyId)
                <h4>Company Name         : @Model.companyName</h4>
                <h4>Contact Person       : @Model.contactPerson</h4>
                <h4>Contact Number       : @Model.companyContact</h4>
                <h4>Address              : @Model.companyAddr </h4>
                <h4>Company Email        : @Model.companyEmail</h4>
                <h4>Company Details      : @Model.companyDetails</h4>
            </div>
            <div class="card-footer text-center" style="margin-top:5px">
                @Html.ActionLink("Edit Profile", "Edit", new { id = Model.companyId }, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
</div>