@model JobPortal.Models.CandidateBasic

@{
    ViewBag.Title = "CandidateDetails";
}

<div class="row justify-content-center">
    <div class="col-sm-6 col-md-offset-3">
        <div class="card">
            <div class="card-header text-center bg-primary">
                <h2><b>Job Details</b></h2>
            </div>
            <div class="card-body text-center bg-success" style="padding:5px 0 5px 0">
                <h4>First Name         : @Html.DisplayFor(model => model.firstName) </h4>
                <h4>First Name         : @Html.DisplayFor(model => model.lastName) </h4>
                <h4>First Name         : @Html.DisplayFor(model => model.candidateAddr) </h4>
                <h4>First Name         : @Html.DisplayFor(model => model.gender) </h4>
                <h4>First Name         : @Html.DisplayFor(model => model.dob) </h4>
                <h4>First Name         : @Html.DisplayFor(model => model.emailId) </h4>
                <h4>First Name         : @Html.DisplayFor(model => model.contactNo) </h4>
                <h4>First Name         : @Html.DisplayFor(model => model.city) </h4>
                <a style="border:2px solid black;border-radius:5px;font-size:large" href="@Url.Content(@Model.resumePath)" target="_blank"><b>--Click here to view CV--</b></a>
            </div>
            <div class="card-footer text-center" style="margin-top:5px">
                @Html.ActionLink("Back to Candidates List", "CandidateSearch", null, new { @class="btn btn-primary"})
            </div>
        </div>
    </div>
</div>