@model JobPortal.Models.JobPost

@{
    ViewBag.Title = "JobDetails";
}

<div class="row justify-content-center">
    <div class="col-sm-6 col-md-offset-3">
        <div class="card">
            <div class="card-header text-center bg-primary">
                <h2><b>Job Details</b></h2>
            </div>

            <div class="card-body text-center bg-success">
                <h4>Title                   : @Model.JobTitle.jobtitleName</h4>
                <h4>Type                    : @Model.type</h4>
                <h4>Location                : @Model.location</h4>
                <h4>Date Posted             : @Html.DisplayFor(model => model.postedDate)</h4>
                <h4>Salary                  : @Html.DisplayFor(model => model.salary)</h4>
                <h4>Skills Required         : @Model.skillsReq</h4>
                <h4>Qualifiaction Required  : @Model.educationReq</h4>
                <h4>Industry                : @Model.Category.category_name</h4>
                <h4>Area                    : @Model.Area.area_name</h4>
                <h4>Contact Email           : @Model.contactEmail</h4>
            </div>
            <div class="card-footer text-center">
                <a style="border:2px solid black;border-radius:5px;font-size:large" href="mailto:@Model.contactEmail"><b>Apply for this job</b></a> |
                @Html.ActionLink("Back to Jobs", "JobSearch", "SearchJobs", new { area = "JobSeeker" }, new { @class="btn btn-primary"})
            </div>
        </div>
    </div>
</div>
