@model IEnumerable<JobPortal.Models.JobPost>
@if (Model != null)
{
    <div class="col-sm-12">
        <table class="table table-responsive">
            <tr>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Category.category_name)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Area.area_name)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.JobTitle.jobtitleName)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.type)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.location)
                </th>
                <th class="text-center">Actions</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Category.category_name)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Area.area_name)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.JobTitle.jobtitleName)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.type)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.location)
                    </td>
                    <td class="text-center">
                        @Html.ActionLink("Details", "JobDetails", "SearchJobs", new { id = item.jobPostId, area = "JobSeeker" }, null)
                    </td>
                </tr>
            }
        </table>
    </div>
    
}

